.main-header .ui.menu {
    background-color: rgba(16, 188, 241, 0.219);
    .active.item  {
        font-size: 12px;
     background-color: rgba(243, 239, 9, 0.322);
    }
    .search {
        background-color: whitesmoke;
       }
   
}

